/* this flexes each form fieldset  */
body {
    font-family: AvenirNext-Medium;
    color: #36382E;
    background-color: white;
}

.content {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    justify-content: center;
    /* margin-left: 275px; */

}

h1 {
    color: #Fff;
    align-self: center;
    text-align: center;
    color: rgb(51, 36, 255);
    width: fit-content;
    padding: .4em;
    text-transform: lowercase;
}

header {
    align-self: center;
    display: flex;
    justify-content: center;
 
}
form {
    color: rgb(51, 36, 255);
    text-transform: lowercase;
    /* align-self: center; */
    /* width: 600px; */
}
.journalFormContainer{
    flex-basis: 40%
}

.entryContainer{
    flex-basis: 50%;
    width: 600px;

}
fieldset {
    display: flex;
    flex-direction: column;
    /* width: 600px; */
    border: none;
    border: 1px solid rgb(51, 36, 255);
    margin-bottom: 10px;
}

/* flex basis 100% puts each element in a new column stacked on top of eachother  */
label {
    flex-basis: 100%;
    padding-bottom: .4em;
    padding-top: .75em;
}

button,
input,
optgroup,
select,
textarea {
    font-family: AvenirNext-Medium;
    border: 1px solid rgb(51, 36, 255);
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}


button {
    font-size: 10pt;
    color:white;
    background-color: rgb(51, 36, 255);
    border-radius: 100px;
    padding: 1em 5em;
    margin-top: 10px;
    font-weight: 700;
}

button:hover,
button:focus {
color:rgb(51, 36, 255);
    background-color: #Fff;
    border: 2px solid rgb(51, 36, 255);
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.button {
    border: none;
}

article {
    display: flex;
    flex-direction: column;
    /* width: 600px; */
    border: none;
    /* padding-top: 25px; */
    align-self: center;
}

.journalEntry {
        align-self: center;
        /* width: 595px; */
        border: 1px solid rgb(51, 36, 255);
        padding: 1em;
        margin-bottom: 2em;
        margin-left: 1em;
        background-color: white;
        color: #36382E;
        margin-right: auto;
  
        
}

div {
    padding: 5px;
}

.filter {
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly;
    /* width: 600px; */
    border: none;
    border: 1px solid rgb(51, 36, 255);
    margin-bottom: 10px;
   
}

.moodFilter {
    flex-basis: 40%;
}

.search {
    flex-basis: 40%;
}