/* this flexes each form fieldset  */
body {
    font-family: AvenirNext-Medium;
    color: #36382E;
    background-color: white;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #Fff;
    align-self: center;
    /* color: rgb(51, 36, 255); */
    width: fit-content;
    padding: .4em;
    text-transform: lowercase;
}

nav {
    background-color: rgb(51, 36, 255);
    align-self: center;
    width: 626px;
    margin-right: -30px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;


}
form {
    color: rgb(51, 36, 255);
    text-transform: lowercase;
    align-self: center;
    width: 600px;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 600px;
    border: 1px solid rgb(51, 36, 255);
    margin-bottom: 10px;
}

/* flex basis 100% puts each element in a new column stacked on top of eachother  */
label {
    flex-basis: 100%;
    padding-bottom: .4em;
    padding-top: .75em;
}

button,
input,
optgroup,
select,
textarea {
    font-family: AvenirNext-Medium;
    border: 1px solid rgb(51, 36, 255);
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}


button {
    font-size: 10pt;
    color:white;
    background-color: rgb(51, 36, 255);
    border-radius: 25px;
    padding: 1em 5em;
    margin-top: 10px;
    font-weight: 700;
}

button:hover,
button:focus {
color:rgb(51, 36, 255);
    background-color: #Fff;
    border: 2px solid rgb(51, 36, 255);
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.button {
    border: none;
}

article {
    display: flex;
    flex-direction: column;
    width: 600px;
    border: none;
    padding-top: 25px;
    align-self: center;
}
.journalEntry {
        align-self: center;
        width: 595px;
        border: 1px solid rgb(51, 36, 255);
        padding: 1em;
        margin-bottom: 2em;
        background-color: white;
        color: #36382E;
        margin-right: auto;
        
        
}

div {
    padding: 5px;
}